<%= form_for([@category, @entry]) do |f| %>
  <!-- <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "name-input" %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :markdown %><br>
    <%= f.text_area :markdown %>
  </div>

  <div class="widgets">
    <%= f.fields_for :widgets do |widget| %>
      <%= render 'widget_fields', f: widget %>
    <% end %>
    <div class="links">
      <%= link_to_add_association(
            'Add Widget +',
            f,
            :widgets,
            class: "link",
            data: {association_insertion_method: "before"}
          )
      %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
