<div class="edit-widget widget container nested-fields">
  <%= link_to_remove_association f do %>
    <div class="close-button"></div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "name-input2"%>
  </div>
  <div class="field">
    <%= f.label :markdown %>
    <%= f.text_area :markdown %>
  </div>

  <%= f.hidden_field :js, class: "js-hidden-value" %>
  <%= f.hidden_field :html, class: "html-hidden-value" %>
  <%= f.hidden_field :css, class: "css-hidden-value" %>

  <%= render 'widgets/embedded_components' %>
</div>
