<div id="show">
	<h1 id="entry-name"><%= @entry.name %></h1>
	<% if user_signed_in? %>
		<div id="links">
			<%= link_to "EDIT", edit_entry_path(@entry) %>
			<%= link_to "DESTROY", @entry, method: :delete, data: { confirm: "Are you sure?" } %>
		</div>
	<% end %>

	<p><i><%= @entry.description %></i></p>

	<div class="markdown-body"><%= markup(@entry.markdown) %></div>

	<script>
		var data_path = "<%= entry_path(@entry) + "/data/" %>"
	</script>

	<% @widgets.each do |widget|%>
		<div class="widget">
			<!-- <%= content_tag :h2, widget.name, id: 'widget-name' if !widget.name.blank? %> -->
			<h2 id="widget-name"><%= widget.name %></h2>

	    <% case widget.type %>
	        <% when 'GeneralWidget' %>
	        <% when 'ImageWidget' %><%= image_tag("#{widget.image.url}") %>
	        <% when 'EmbeddedWidget' %><%= widget.embedded_code.html_safe %>
	        <% when 'IframeWidget' %>
						<%= content_tag :iframe, nil, src: widget.iframe_url %>
						<%= link_to "Open in a new window.", widget.iframe_url, target: "_blank", class:"iframe-link" %>
	    <% end %>
		  <div class="widget-caption"><%= widget.caption %></div>

			<div class="markdown-body"><%= markup(widget.markdown) %></div>

			<% if widget.type == 'embedded' %>
				<h2 id="widget-code">Code</h2>
				<pre><code id="code" class="html"><%= widget.embedded_code %></code></pre>
			<% end %>
		</div>
	<% end %>

	<script>hljs.initHighlightingOnLoad();</script>
</div>
