<div class = "entry">

  <div class = "container" id = "page-header">
    <h1><%= @entry.name %></h1>
    <p>
      <%= @entry.description %>
    </p>
  </div>

  <% if user_signed_in? %>
    <div class = "entry-links container">
      <%= link_to "Edit", edit_category_entry_path(@category, @entry), class: "link" %>
      <!-- |
      <%= link_to "Destroy", @entry, method: :delete, data: { confirm: "Are you sure?" }, class: "link" %> -->
    </div>
  <% end %>

  <%= content_tag :div,
                  markup(@entry.markdown),
                  class: "markdown-body container" unless @entry.markdown.to_s.empty?
                  %>

  <ol class="widgets">
    <% @entry.widgets.each do |widget| %>
      <%= render "widgets/show", :widget => widget %>
    <% end %>
  </ol>

</div>
