<iframe scrolling="no" class="iframe-chart" id="chart-<%= widget.id %>"></iframe>

<div code-wrapper" id="code-wrapper-<%= widget.id %>">
  <div class="code-buttons" id="code-buttons-<%= widget.id %>">
    <div class="js-button" data-type="js">JS</div>
    <div class="html-button" data-type="html">HTML</div>
    <div class="css-button" data-type="css">CSS</div>
  </div>
  <div class="code js-editor" id="javascript-editor-<%= widget.id %>"><%= widget.js %></div>
  <div class="code html-editor" id="html-editor-<%= widget.id %>"><%= widget.html %></div>
  <div class="code css-editor" id="css-editor-<%= widget.id %>"><%= widget.css %></div>
</div>

<script>
  (function(){
    <%= render 'widgets/setup_code_editors.js', :widget => widget %>
  })();
</script>
