// Base template
var base_tpl =
    "<!doctype html>\n" +
    "<html>\n\t" +
    "<head>\n\t\t" +
    "<meta charset=\"utf-8\">\n\t\t" +
    "<title>Test</title>\n\n\t\t\n\t" +
    "<script src='/assets/iframe-vendor.js' charset='utf-8'><\/script>"+
    "<link rel='stylesheet' href='/assets/iframe-vendor.css' type='text/css' media='screen'>"+
    "</head>\n\t" +
    "<body>\n\t\n\t" +
    "<div id='chart-iframe-wrap'></div>"+
    "</body>\n" +
    "</html>";

var _render = _.debounce(render, 500);

var html_editor = newEditor("html");
var js_editor = newEditor("javascript");
var css_editor = newEditor("css");

render();

$("#code-buttons-<%= widget.id %> div").click(function(){
  var type = $(this).data('type');
  changeCodeType(type);
});
changeCodeType('js');

function changeCodeType(type){
  $("#code-wrapper-<%= widget.id %> .code-buttons div").removeClass('active');
  $("#code-wrapper-<%= widget.id %> ."+type+"-button").addClass('active');
  $("#code-wrapper-<%= widget.id %> .code").removeClass('active');
  $("#code-wrapper-<%= widget.id %> ."+type+"-editor").addClass('active');
};

function prepareSource() {
  var html = html_editor.getValue(),
      css = css_editor.getValue(),
      js = js_editor.getValue(),
      src = '';

  // HTML
  src = base_tpl.replace('</div>', html + '</div>');

  // CSS
  css = '<style>' + css + '</style>';
  src = src.replace('</head>', css + '</head>');

  // Javascript
  js = '<script>' + js + '<\/script>';
  src = src.replace('</body>', js + '</body>');

  return src;
};

// function validateJS() {
//   try {
//     eval(js_editor.getValue());
//   } catch (e) {
//     if (e instanceof SyntaxError) {
//       console.log(e.message);
//     }
//   }
// };

function resizeFrame() {
  var iframeChart = $(this).contents().find("#chart-iframe-wrap");
  var iframeHeight = iframeChart.height() + 10;
  d3.select(this).transition().duration(1000)
    .style('height', iframeHeight + 'px');
};

function render() {
  var source = prepareSource();

  var iframe = document.querySelector('iframe#chart-<%= widget.id %>'),
      iframe_doc = iframe.contentDocument;

  iframe_doc.open();
  iframe_doc.write(source);
  iframe_doc.close();

  $(iframe).load(resizeFrame);
};

function newEditor(type) {
  var editor = ace.edit(type+"-editor-<%= widget.id %>");
  editor.renderer.setScrollMargin(20, 20, 0, 0);
  editor.setFontSize(16);
  editor.setTheme("ace/theme/chrome");
  editor.setOptions({ maxLines: Infinity, minLines: 10 });
  editor.setShowPrintMargin(false);
  editor.getSession().setMode("ace/mode/"+type);
  editor.getSession().on('change', _render);
  return editor;
};
