<div class="widget container" id="widget-<%= widget.id %>">
  <%= content_tag :h2, widget.name, class: "widget-name" if widget.name %>
  <%= render "widgets/#{widget.type.underscore}", :widget => widget %>
  <div class="widget-caption"><%= widget.caption %></div>
  <div class="markdown-body"><%= markup(widget.markdown) %></div>
</div>
