<!DOCTYPE html>
<html>
<head>
	<title>D2B.js | Data to DashBoards</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>
</head>
<body>

	<header>
		<span id="logo"><%= link_to "/" do %> d2b.js | Data to DashBoards <% end %></span>
		<i class="fa fa-bars nav-open"></i>
		<nav>
			<%= link_to "Getting Started", getting_started_path %>
			<%= link_to "Examples", examples_path %>
			<%= link_to "Wiki", "http://docs.d2bjs.org", target: "_blank" %>
      <%= link_to "Source", "//github.com/d2bjs/d2b", target: "_blank" %>
			<!-- <%= link_to "Sign In", "/users/sign_in" if !user_signed_in?%> -->
			<%= link_to "Sign Out", "/users/sign_out", method: :delete if user_signed_in?%>
		</nav>
	</header>

	<div id="main">
		<%= yield %>
	</div>

	<!-- <footer class="container">
	</footer> -->

	<%= render 'layouts/modal' %>

</body>
</html>
